name: Update Money Flow
on:
  schedule:
    # Vietnam timezone: ICT = UTC+7
    # Phien sang: 9:30-11:30 ICT = 2:30-4:30 UTC (moi 20 phut)
    - cron: '30 2 * * 1-5'    # 9:30 ICT
    - cron: '50 2 * * 1-5'    # 9:50 ICT
    - cron: '10 3 * * 1-5'    # 10:10 ICT
    - cron: '30 3 * * 1-5'    # 10:30 ICT
    - cron: '50 3 * * 1-5'    # 10:50 ICT
    - cron: '10 4 * * 1-5'    # 11:10 ICT
    
    # Phien chieu: 13:00-15:00 ICT = 6:00-8:00 UTC (moi 20 phut)
    - cron: '0 6 * * 1-5'     # 13:00 ICT
    - cron: '20 6 * * 1-5'    # 13:20 ICT
    - cron: '40 6 * * 1-5'    # 13:40 ICT
    - cron: '0 7 * * 1-5'     # 14:00 ICT
    - cron: '20 7 * * 1-5'    # 14:20 ICT
    - cron: '40 7 * * 1-5'    # 14:40 ICT
    - cron: '0 8 * * 1-5'     # 15:00 ICT (dong cua)
  workflow_dispatch:  # Allow manual trigger

jobs:
  update-flow:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: pip install -r requirements.txt
      
      - name: Run money flow tracker
        run: python money_flow.py --interval 20
        env:
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
          SPREADSHEET_ID: ${{ secrets.SPREADSHEET_ID }}
          VNSTOCK_API_KEY: ${{ secrets.VNSTOCK_API_KEY }}
